  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  @font-face {
      font-family: 'Gotham Pro';
      src: url('font/GothamProBold.eot');
      src: url('font/GothamProBold.eot?#iefix') format('embedded-opentype'),
          url('font/GothamProBold.woff') format('woff'),
          url('font/GothamProBold.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }


  * {
      font-family: 'Poppins', sans-serif;
  }

  .font-gotham-pro {
      font-family: 'Gotham Pro', sans-serif;
  }
  .font-noto-sans {
    font-family: "Noto Sans", sans-serif;
  }
  .font-hind {
   font-family: "Hind", sans-serif;
  }
.font-inter  {
  font-family: "Inter", sans-serif;
}

  /* Custom scrollbar */
  ::-webkit-scrollbar {
      width: 5px;
  }

  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  /* Animation for cards */
  @keyframes fadeInUp {
      from {
          opacity: 0;
          transform: translateY(20px);
      }

      to {
          opacity: 1;
          transform: translateY(0);
      }
  }

  .fade-in-up {
      animation: fadeInUp 0.5s ease-out forwards;
  }

  /* Staggered animation for creator cards */
  .creator-card:nth-child(1) {
      animation-delay: 0.1s;
  }

  .creator-card:nth-child(2) {
      animation-delay: 0.2s;
  }

  .creator-card:nth-child(3) {
      animation-delay: 0.3s;
  }

  .creator-card:nth-child(4) {
      animation-delay: 0.4s;
  }

  .creator-card:nth-child(5) {
      animation-delay: 0.5s;
  }

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.shadow-hero{
    box-shadow: 0px 0px 10px 0px #00000080 inset;
}
.text-bg-linner{
        background: linear-gradient(180.43deg, rgba(0, 0, 0, 0) 0.37%, rgba(0, 0, 0, 0.9) 50%);
}
.shadow-engagement{
   background-color: #014923;
      box-shadow: inset 0px 0px 7.2px 0px rgba(4, 142, 68, 1);

}
.shadow-visibility{
    /* box-shadow: 0px 0px 7.2px 0px #048E44 inset; */
    background-color: #FF5F17;
      box-shadow: inset 0px 0px 7.2px 0px #FFB08D;
}
.shadow-shopping{
    background-color: #3A185A;
      box-shadow: inset 0px 0px 7.2px 0px #9450D3;
}
.shadow-redemptiont{
     background-color: #0F294E;
     box-shadow: inset 0px 0px 7.2px 0px #0C5CCC;
}
.feature-card-shadow{
    box-shadow: 0px 0px 9px 0px #0C5CCC inset;

}
.select-wallet{
    border: 1px solid #9643FF33
}
.video-section{
    border-bottom: 1.5px solid;
border-image-source: linear-gradient(90deg, #D97DCC 0%, #9542FF 64.6%);
}
.user-status::after{
    content: '';
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    right: 1px;
    top: 22px;
}
.user-status-2::after{
    content: '';
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: 4px;
}